@import '../../../styles/variables.scss';

.header {
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 19;
  background-color: getColor(container-secondary);
  transition: 0.5s ease-in-out;
}

.container {
  max-width: 1280px;
  height: $header-height;
  display: flex;
  position: relative;
  margin: 0 auto;
  padding: 0 1.5rem;
  justify-content: space-between;
  align-items: center;
}
